{
  "presets": [
    "react",
    ["es2015", {"modules": false, "loose": true}]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "server": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}

//es2015 ok for developing, not for prod.